:root {
  /* Font Sizes */
  --fs-xl: 3rem;
  --fs-600: 1.6rem;
  --fs-500: 1.2rem;
  --fs-400: 0.8rem;
  /* Colors */
  --green: hsl(135, 60%, 65%);
  --white: hsl(204, 26%, 96%);
  --lightBlue: hsl(209, 70%, 62%);
  --darkBlue: rgb(14, 116, 211);
  --grey: hsl(197, 13%, 24%);
  --offWhite: hsl(195, 22%, 93%);
}

@font-face {
  font-family: "Aldrich-Regular";
  src: url("../assets/Aldrich/Aldrich-Regular.ttf");
}

/* animations */
.fade {
  opacity: 0;
}

.hide {
  display: none;
  visibility: hidden !important;
}

.absolute {
  position: absolute !important;
}

body {
  background-color: var(--white);
  font-family: "Aldrich-Regular";
  position: relative;
  display: flex;
  flex-direction: column;
}

.audio {
  display: none;
}

#result {
  height: calc(100% - 60px);
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  z-index: 2;
  transition: all 0.75s ease-in-out;
}

#result p {
  font-size: var(--fs-xl);
  color: black;
  margin: 16px auto;
}

#result button {
  display: block;
  font-size: var(--fs-400);
  font-weight: 700;
  padding: 6px;
  background-color: #17191a;
  color: #ffffff;
  border: none;
  margin: 16px auto;
}

#result button:hover {
  background-color: var(--green);
  transition: 300ms ease-in-out all;
  cursor: pointer;
}

.headerbar {
  width: 100%;
  height: 60px;
  padding: 16px 0px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
}

.headerbar h1 {
  width: fit-content;
  font-size: var(--fs-xl);
  color: var(--green);
}

.battleship-icon {
  position: absolute;
  height: var(--fs-xl);
  transform: translateX(-160%);
}

.battleship-icon.two {
  transform: translateX(160%) scaleX(-1);
}

footer {
  margin-top: auto;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  row-gap: 16px;
  margin-bottom: 16px;
  font-size: var(--fs-400);
}

#audio-controller {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 152px;
  cursor: pointer;
  z-index: 2;
}

#audio-icon:hover {
  cursor: pointer;
}

.max-width {
  max-width: 1400px;
  height: calc(100% - 120px - 64px);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-prompt-container form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form label {
  font-size: var(--fs-500);
  color: #000000;
  transform: skew(-5deg);
  overflow: hidden;
  border-right: 0.15em solid var(--green);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 2.5s steps(28, end), blink-caret 1.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--green);
  }
}

form div {
  position: absolute;
  transform: translateY(calc(100% + 16px));
  display: flex;
  align-items: center;
}

form input {
  font-family: "Aldrich-Regular";
  border: 2px solid rgb(104, 102, 102);
  padding: 6px;
  background-color: var(--offWhite);
  caret-color: rgb(255, 255, 255);
  color: rgb(7, 0, 0);
}

form input:focus {
  outline: unset;
  border: 2px solid rgb(177, 175, 175);
}

form button {
  font-size: var(--fs-400);
  font-weight: 700;
  padding: 6px;
  background-color: #17191a;
  color: #ffffff;
  border: none;
  margin: 0px 4px;
}

form button:hover {
  background-color: var(--green);
  transition: 300ms ease-in-out all;
  cursor: pointer;
}

#placement-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: 6px;
  row-gap: 64px;
  justify-items: center;
  align-items: center;
  transition: all 0.75s ease-in-out;
  user-select: none;
  position: relative;
}

#fleet-selection {
  grid-row: 2;
  margin: 0px auto;
  position: relative;
  height: 260px;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  position: relative;
}

#fleet-selection .drag {
  height: 40px;
  background-color: var(--darkBlue);
  margin: 0px 8px;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-500);
  color: white;
  padding: 0px;
}

.placementShips-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.placementShips {
  position: absolute;
  display: flex;
}

.placementShips > div {
  position: relative;
  display: grid;
  justify-items: flex-start;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.instructions {
  user-select: none;
  color: var(--grey);
  font-size: var(--fs-400);
}

#fleet-selection button {
  height: 40px;
  padding: 8px 16px;
  margin: 0px 8px;
  font-size: 16px;
  font-family: "Aldrich-Regular";
  border: none;
}

#fleet-selection button:hover {
  background-color: var(--lightBlue);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

#btn-start:hover {
  background-color: var(--green) !important;
}

#fleet-selection .drag:hover {
  cursor: pointer;
  background-color: var(--lightBlue);
  transition: color 200ms ease-in-out;
}

#carrier {
  width: 200px;
}

#battleship {
  width: 160px;
}

#cruiser,
#submarine {
  width: 120px;
}

#destroyer {
  width: 80px;
}

#carrier.rotate {
  width: 40px !important;
  height: 200px !important;
  grid-row: 1 / 4;
}

#battleship.rotate {
  width: 40px !important;
  height: 160px !important;
  grid-row: 1 / 4;
}

#cruiser.rotate,
#submarine.rotate {
  width: 40px !important;
  height: 120px !important;
  grid-row: 1 / 4;
}

#destroyer.rotate {
  width: 40px !important;
  height: 80px !important;
  grid-row: 1 / 4;
}

.boardWrapper {
  width: 440px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  position: relative;
}

.boardWrapper h2 {
  grid-row: 1;
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
  font-size: var(--fs-500);
  padding: 8px 0px;
}

.axisX,
.axisY {
  display: grid;
  font-size: var(--fs-400);
  color: var(--grey);
  justify-items: center;
  align-items: center;
  padding: 8px 0px;
}

.axisX {
  grid-row: 2;
  grid-column: 2;
}

.axisY {
  grid-row: 3;
  grid-column: 1;
}

.axisX :nth-child(n + 1) {
  grid-row: 1;
  grid-column: auto;
}

.axisY :nth-child(n) {
  grid-row: auto;
  grid-column: 1;
}

#board-container {
  display: grid;
  grid-template-columns: calc(50% * 0.8) calc(50% * 1.1);
  grid-template-rows: 1fr 1fr;
  height: 540px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 6px;
  transition: all 0.75s ease-in-out;
  column-gap: 96px;
}

.boardWrapper .board {
  grid-column: 2;
  grid-row: 2;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border: 3px dashed var(--grey);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: relative;
  grid-column: 2;
  grid-row: 3;
  padding: 2px 6px 6px 2px;
}

.boardWrapper.player {
  transform: scale(0.8);
}

.boardWrapper.computer {
  transform: scale(1.1);
}

.boardWrapper.computer .zone:hover {
  background-color: red;
  cursor: crosshair;
}

.zone {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px dashed hsla(0, 6%, 13%, 0.16);
  display: flex;
}

.placedShip {
  position: absolute;
  height: 40px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: 40px 1fr;
  font-size: var(--fs-500);
  color: var(--greyrr);
  border: 1px solid rgba(236, 226, 226, 0.438);
  border-radius: 6px;
}

.hit {
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 200px;
  border: 1px solid red;
  flex-direction: column;
  margin: 0 auto;
  align-self: center;
}

.hitPlayer {
  position: absolute;
  height: 40px;
  width: 40px;
  transform: translate(0.75px, 0.75px);
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.63);
  z-index: 1;
  display: flex;
  align-self: center;
}

.miss {
  background-color: var(--grey);
  height: 10px;
  width: 10px;
  border: 1px solid white;
  border-radius: 200px;
  margin: 0 auto;
  align-self: center;
}

@keyframes disappear {
  0% {
    opacity: 100%;
    visibility: visible;
  }

  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
